body {
    font: 12px Arial, sans-serif;
    margin: 30px auto;
    padding: 10px;
    width: 800px;
    color: white;
    background: #252525;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

img {
    border: 1px solid white;
}

h1 {
    font: 100 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0;
}

h2 {
    font: 100 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
    h2 span {
        font-size: 50%;
        color: deepskyblue;
    }

h3 {
    font: 100 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 0;
}

form {
    padding: 20px 20px;
    background: #1E1E1E;
    border: 1px solid gray;
    margin: 20px 0;
}
    form input[type=text],
    form select {
        padding: 5px;
        border: 1px solid deepskyblue;
    }
    form input[type=submit] {
        padding: 5px 10px;
        background: deepskyblue;
        color: white;
        border: none;
        border: 1px solid deepskyblue;
    }

table {
    border: 1px solid gray;
    width: 100%;
    margin: 10px 0;
}
    table th {
        width: 160px;
        color: gray;
    }
    table th,
    table td {
        padding: 10px;
        text-align: left;
    }
            table tr:nth-child(odd) th,
            table tr:nth-child(odd) td {
                background: #1E1E1E;
            }

.navigation {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    overflow: hidden;
}
    .navigation li {
        float: left;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid gray;
    }
    .navigation li:last-child {
        border-right: none;
    }

div.status { 
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 160%;
}
    .valid.status {
        background: green;
    }
    .unkown.status,
    .invalid.status {
        background: red;
    }

#error {
    background: red;
    padding: 30px;
    text-align: center;
    color: black;
    font-size: 160%;
}

#trace {
    margin-top: 20px;
    border-top: 1px dotted gray;
    padding: 10px 0;
    width: 100%;
    overflow: auto;
}
    #trace div {
        display: none;
    }
    #trace h4 {
        color: gray;
    }
    #trace pre {
        color: gray;
        white-space: pre;
    }